<ng-include src="'app/components/header/header.template.html'"></ng-include>
<div ng-controller="login.controller as vm" class="container auth-container" id="signup">
    <h2 class="">Log in to Expense Pro</h2>

    <form class=" action-form" id="login-form">
      <div class="form-group form-container">
        <input ng-model="vm.username" type="text" class="form-control form-input" id="inputUsername" placeholder="Username">
      </div>
      <div class="form-group form-container">
        <input ng-model="vm.password" type="password" class="form-control form-input" id="inputPassword" placeholder="Password">
      </div>
      <button type="submit" ng-click="vm.postCredentials()" class="btn btn-primary action-btn" id="login-btn">Log in</button>
    </form>

    <div class="alt-action-text">Not a member yet? <a class="" ui-sref="signup">Sign up here!</a></div>
</div>